<!DOCTYPE html>
<html>
<head>
  <title>Comment Details</title>
</head>
<body>
  <h1>Comment Details</h1>
  
  <h2><%= @comment.user.name %> commented:</h2>
  <p><strong>Content:</strong> <%= @comment.text %></p>
  
  <!-- Optionally, you can display additional details about the comment here -->
  
  <%= link_to 'Back to Comments', comments_path %>
</body>
</html>
