<!DOCTYPE html>
<html>
<head>
  <title>Like Details</title>
</head>
<body>
  <h1>Like Details</h1>
  
  <h2><%= @like.user.name %> liked this</h2>
 
  <%= link_to 'Back to Likes', likes_path %>
</body>
</html>
