<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
</head>
<body>
  <h1>All Users</h1>
  
<ul>
  <% @users.each do |user| %>
  <li>
    <% if user.name.present? %>
      <%= link_to user.name, user_path(user.name) %>
      <% post_count = user.posts.count %>
      <% if post_count > 0 %> Number of posts:
        <%= post_count %>
      <% else %>
        (No posts)
      <% end %>
    <% else %>
      User name not available
    <% end %>
  </li>
  <% end %>
</ul>
</body>
</html>
