<h1 class="justify-self-center">All Users</h1>
<ul class="list-unstyled container"> 
  <% @users.each do |user| %>
  <div class="row">
      <div class="user-image border col-md-2 m-2">
        <img src="<%= user.photo %>" alt="<%= user.name %>'s photo" width="100%" height="100%">
      </div>
      <div class="user-info border col-md-8 mt-2 mb-2">
        <h2><%= link_to user.name, user_path(user) %></h2>
        <p class="posts-number">Number of posts: <%= user.posts.count %></p>
      </div>
    </li>
      </div>
  <% end %>

</ul>

