<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  <h1>User Profile</h1>
  
 <% if @user %>
  <p><strong>Username:</strong> <%= @user.name %></p>
  <p><strong>Photo:</strong> <%= image_tag @user.photo, alt: 'User Photo' %></p>
      <p><strong>Bio:</strong> <%= @user.bio %></p>
<% else %>
  <p>User not found</p> <!-- Display an error message -->
<% end %>

</body>
</html>

