<!DOCTYPE html>
<html>
<head>
  <title>All Posts by User</title>
</head>
<body>
  <h1>All Posts by User</h1>
  
  <ul>
    <% @posts.each do |post| %>
    <li>
      <% if post.author %>
        <%= link_to post.title, user_post_path(user_name: post.author.name, id: post.id) %>
      <% else %>
        <!-- Handle the case where author is nil (e.g., display "Unknown author") -->
        Unknown author: <%= post.title %>
      <% end %>
    </li>
  <% end %>
  </ul>
</body>
</html>

